.message {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #205A6D;
  margin: 0 0 16px;
  text-align: center;
}

.error {
  color: red
}

.move {
  margin-bottom: 17px;
  display: flex;
  align-items: flex-start;
}

.opponent {
  flex-direction: row;
}

.me {
  flex-direction: row-reverse;
}

.user {
  width: 40px;
  height: 40px;
}

.opponent .user {
  margin-right: 16px;
}

.me .user {
  margin-left: 16px;
}

.avatar {
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
}

.opponent .details {
  align-items: flex-start;
}

.me .details {
  align-items: flex-end;
}

.action {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opponent .action {
  background-color: #205A6D;
}

.me .action {
  background-color: #1574F5;
}

.result {
  width: 198px;
  background: #F8F5F2;
  border-radius: 2px;
  padding: 9px 16px 7px;
  color: #0A3847;
  margin-top: 8px;
}

.full {
  width: 100%;
  text-align: center;
  margin: 0 0 16px;
}
