.final {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 270px;
  right: 24px;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageWin {
  height: 167px;
  margin-bottom: 20px;
}

.imageLose {
  height: 284px;
}

.title {
  font-weight: 700;
  font-size: 41px;
  line-height: 52px;
  color: #FFFFFF;
  margin: 0 0 16px;
  padding: 0;
}
