.footer {
  background-color: #0A3847;
  padding: 16px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
}

.logo {
  height: 40px;
  margin-right: 12px;
}

.copy {
  opacity: 0.4;
  margin-left: 40px;
}
